@font-face {
    font-family: norse;
    src: url("./fonts/Norse-Bold.otf") format("opentype");
    font-weight: bold;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    display: flex;
    height: 70vh;
    max-width: 100vw;
    margin: 15vh auto 15vh auto;
    background-color: black;
    max-width: 1250px;
}

#logoContainer {
    background-image: url("./images/peakpx\ \(1\).jpg");
    background-size: cover;
    width: 40vw;
    max-width: 450px;
}

#logoBackground {
    margin-top: 11vh;
    color: white;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: norse;
    font-size: x-large;
}

#formContainer {
    width: 60vw;
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: yellow;
    background-image: url(./images/background2.jpg);
    background-size: cover;
    max-width: 680px;
}

#sectionOne {
    box-sizing: border-box;
    flex: 1;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: left;
    background-color: rgba(10, 209, 209, 0.8);
}

#question {
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 17px;
    font-weight: 500;
}
#quote {
    margin-bottom: 30px;
    margin-left: 15px;
    margin-right: 15px;
    font-family: norse;
    font-size: 22px;
}
#sectionTwo {
    background-color: rgba(254, 255, 255, 0.8);
    box-sizing: border-box;
    flex: 1;
}

#formHeading {
    margin-left: 15px;
}

form {
    display: flex;
    flex-wrap: wrap;
    margin: 0px 15px 0px 15px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    font-weight: 200px;
    color: #413e3e;
    font-style: oblique;
}

.side {
    width: 50%;
}

.side>div {
    margin-bottom: 5%;
}

#passwordError {
    margin-top: -2%;
    white-space: pre;
    color: red;
    font-size: small;
}

#sectionThree {
    box-sizing: border-box;
    flex: 1;
    background-color: rgba(11, 236, 236, 0.8);
}

#createAccount {
    margin: 15px;
    border-radius: 20px;
    width: 100px;
    height: 30px;
    margin-bottom: 0px;
    text-align: center;
    transition: 0.5s;
    background: linear-gradient(90deg, #f6d365, #fda085 51%, #f6d365) var(--x, 0)/ 200%;
    color: black;
    text-shadow: 0px 0px 10px rgba(0,0,0,0.2);
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
}

#createAccount:hover {
    --x: 100%;
    transform: scale(1.1);
    transition: 0.5s;
    text-transform: uppercase;
}

#alreadyAccount {
    margin: 15px;
}

#alreadyAccount>a {
    color: rgba(3, 85, 209, 0.685);
    text-decoration: none;
}

#disclaimer {
    color: aliceblue;
    background-color: black;
    position: relative;
    top: 100%;
    text-align: left;
}

input {
    border: 2px solid #c5ced8;
}

input:focus { 
    transform: scale(1.1);
    outline: none !important;
    border: 2px solid greenyellow;
    box-shadow: 5px 5px 10px #719ECE;
}




